* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    font-family: Inconsolata;
    color: $text;
    
    a {
        color: $text;
        ;
    }

    .a-text{
        color: $main-color;
    }

    span, .span3 {
        color: $background;
        font-weight: bolder;
        background-color: $main-color;
        padding: 2px;
        border: solid 1px $main-color;
        border-radius: 5%;
    }

    .span2 {
        color: $main-color;
        background-color: transparent;
        border: none;
    }

}



a:hover {
    color: $main-color;
    text-decoration: none;
}



span:hover {
    box-shadow: 0px 5px 10px 0px $main-color;
}




.span2:hover {
    box-shadow: none;
}

.a-text:hover{
    color: $main-color;
    font-weight: bolder;
    text-decoration: underline;
}